/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Note module that you ALSO want globally
 * available should live here.
 */

 .comment-container  {
   .form-container {
     border: 0;
     &:hover {
       box-shadow: none;
     }

     form {
       padding-left: 0;
     }
   }
 }